html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* ----------START RIGHT PART---------- */

#rightHalf{
	width: 50vw;
	height: 100vh;
    background: rgba(44, 206, 210, 1);
	float: right;
	text-align: center;
	color: rgba(38, 71, 78, 1);
}

	/* ----------START IMAGES---------- */

	img{
		width: 30vw;
		height: 60vh;
	}
	/* ----------END IMAGES---------- */
/* ----------END RIGHT PART---------- */

/* ----------START FORMS---------- */

#frmLogin{
	text-align: center;
	width: 30%;
	margin-left: 10%;
	color: rgba(38, 71, 78, 1);
	border: 2px solid rgba(38, 71, 78, 1);
}

#frmRegister{
	text-align: center;
	width: 30%;
	margin-left: 10%;
	color: rgba(38, 71, 78, 1);
	border: 2px solid rgba(38, 71, 78, 1);
}
/* ----------END FORMS---------- */

/* ----------START INPUTS---------- */

.inputs{
	border: 1px solid rgba(53, 120, 229, 1);
	height: 5vh;
	width: 14vw;
	border-left: 8px solid rgba(44, 206, 210, 1);
}

.inputsWrong{
	border: 1px solid rgba(255, 0, 0, 1);
	height: 5vh;
	width: 14vw;
	border-left: 8px solid rgba(242, 115, 75, 1);
}

.inputs:focus, .inputCode:focus{
	background: rgba(255, 255, 153, 1);
	outline: none;
}

.inputsWrong:focus{
	background: rgba(255, 255, 153, 1);
	outline: none;
}

.inputCode{
	border: 1px solid rgba(53, 120, 229, 1);
	height: 5vh;
	width: 7vw;
	border-left: 8px solid rgba(44, 206, 210, 1);
}
/* ----------END INPUTS---------- */

/* ----------START ERROR MESSAGES---------- */

#errR, #err{
	color: rgba(242, 115, 75, 1);
}
/* ----------END ERROR MESSAGES---------- */

/* ----------START BUTTONS---------- */

.buttons{
	width: 15vw;
	height: 5vh;
	border: none;
	color: rgba(38, 71, 78, 1);
	background-color: rgba(44, 206, 210, 1);
	outline: none;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
}

.inputCodeBtn{
	width: 7vw;
	height: 5vh;
	border: none;
	color: rgba(38, 71, 78, 1);
	background-color: rgba(44, 206, 210, 1);
	outline: none;
}

.buttons:hover, .inputCodeBtn:hover{
	color: rgba(44, 206, 210, 1);
	background: rgba(38, 71, 78, 1);
}

.link{
	cursor: pointer;
}

.link:hover{
	color: rgba(44, 206, 210, 1);
}
/* ----------END BUTTONS---------- */